<div class="fields">
  <%= f.select :value, ranking_pairs %>
  <% if  f.object.skill %>
    <%=h f.object.skill.name %>
  <% else %>
    <%= chained_skill_selects_for :profile, :rankings %>
  <% end %>
  <%= link_to_remove_fields "Ta bort", f %>
</div>
