<h1>Konsultprofiler <%=h "(som kan #{@skill.name})" if @skill %></h1>

<ul>
  <% @profiles.each do |profile| %>
    <li>
      <b><%= link_to h(profile.first_name + " " + profile.last_name), profile %></b>
      (<%= links_for(profile).join(', ') %>)
    </li>
  <% end %>
</ul>

<%= standard_links.join ' | ' %>
