<h1>Användare</h1>

<% if @all_users %>
  <%= link_to 'Visa bara användare utan profiler', users_path %>
<% else %>
  <%= link_to 'Visa alla användare', users_path(:all => true) %>
<% end %>
<ul>
	<% @users.each do |user| %>
	  <li>
	    <%= link_to h(user.name), user_path(user) %> (<%=h user.login %>)
	  </li>
	<% end %>	
</ul>
