<ul>
<% @search.result.each do |profile| %>
  <li>
	<%= link_to h(profile.name), profile %> (<%= link_to 'PDF', profile_path(profile, :format => :pdf) %>) 
	<%= rankings_presentation profile, @search, '- ' %>
  </li>
<% end %>
</ul>
