<h1>Tidigare sökningar</h1>

<ul>
<% @searches.each do |search| %>
  <li>
    <b><%= link_to h(search.presentation), edit_search_path(search) %></b>
    (<%= link_to 'Ta bort', search, :confirm => 'Är du säker?', :method => :delete %>)
  </li>
<% end %>
</ul>

<br />

<%= standard_links.join ' | ' %>
