<h1>Logga in</h1>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p><b>Användarnamn:</b> <%= f.text_field :login %></p>
  <p><b>Lösenord:</b> <%= f.password_field :password %></p>
  <p><%= f.submit 'Logga in' %></p>
<% end %>
